<div class="landing-page">
  <div class="four offset-by-four columns">
  <nav class="home-nav">
    <a href="">What is this?</a>
    <a href="">Success Stories</a>
  </nav>
  <h1>Concat</h1>
  <form class="login-form" ng-show="showLogin">
    <p>Nice to see you. Login here:</p>
    <label for="username">Username:</label>
    <input id="username" type="text">
    <label for="password">Password</label>
    <input id="password" type="password">
    <button type="submit">Login</button>
    <p>Don't have a login? <a ng-click="toggleForm()">Register here.</a></p>
  </form>
  <form class="register-form" ng-show="!showLogin">
    <p>New around here? Register and lets get started!</p>
    <label for="username">Username:</label>
    <input id="username" type="text">
    <label></label>
    <label for="password">Password</label>
    <input id="password" type="password">
    <button type="submit">register</button>
    <p>Already Registered? <a ng-click="toggleForm()">Login here.</a></p>
  </form>
  </div>
</div>
