<div class="landing-page">

    <nav class="home-nav">
      <a href="">What is this?</a>
      <a href="">Success Stories</a>
    </nav>
    <h1 class="title">CONCAT</h1>
    <div class="four offset-by-four columns">
    <form class="login-form" ng-show="showLogin">
      <p>Nice to see you! Login here:</p>
      <label for="username">Username:</label>
      <input class="u-full-width" id="username" type="text">
      <label for="password">Password</label>
      <input class="u-full-width" id="password" type="password">
      <button class="u-full-width loginButton" type="submit">Login</button>
      <p>Don't have a login? <a ng-click="toggleForm()">Register here.</a></p>
    </form>
    <form class="register-form" ng-show="!showLogin">
      <p>New around here? Welcome! Register and lets get started.</p>
      <label for="username">Username:</label>
      <input class="u-full-width" id="username" type="text">
      <label for="password">Password</label>
      <input class="u-full-width" id="password" type="password">
      <button class="u-full-width loginButton" type="submit">register</button>
      <p>Already Registered? <a ng-click="toggleForm()">Login here.</a></p>
    </form>
    </div>

</div>
