<div class="all-users">
<nav>
  <a ng-click="getUsers()" href="">Show All</a>
  <a ng-click="popularFilter()" href="">Popular</a>
  <a ng-click="matchesFilter()" href="" >Matches</a>
  <a ng-click="nearbyFilter()" href="">Nearby</a>
</nav>
<div class="single-user" ng-repeat="user in users | limitTo: currentDisplay">
  <div class="row user-repeat">
    <h2>{{user.username}}</h2>
    <img ng-src="{{user.avatar}}">
    <div class="single-user-info">
      <p>{{user.names.firstName}} is a <strong>{{ user.gender | youAre }}</strong></p>
      <p>Who is interested in: </p>
      <ul>
        <li ng-repeat="interest in user.interestedIn">
          {{interest | interests}}
        </li>
      </ul>
      <button ng-click="getOneUser(user._id)">More Info</button>
    </div>
</div>
</div>
<div ng-show="oneUser" class="chosenUser">
  <h1>{{oneUser.username}}</h1>
  <img ng-src="{{oneUser.avatar}}">
  <div class="single-user-info">
  <p>{{oneUser.names.firstName}} is a <strong>{{ oneUser.gender | youAre }}</strong></p>
      <p>Who is interested in: </p>
      <ul>
        <li ng-repeat="interest in oneUser.interestedIn">
          {{interest | interests}}
        </li>
      </ul>
  <p>Birthday: {{ oneUser.dob | date:'MMMM d' }}</p>
  <p>Company: {{ oneUser.company.name }}</p>
  <p>Accomplishments: {{ oneUser.company.catchPhrase }}</p>
  </div>
</div>
<button ng-click="displayMore()">Next 10 Results</button>
</div class="container">