$light-grey: #bdbdbd;

.all-users {
  height: 80vh;
  overflow: scroll;
  margin-left: 20px;

  img {
    float: left;
    margin-left: 10px;
    width: 35%;
  }
  h2 {
    margin-left: 10px;
  }
  .single-user-info {
    margin-left: 20px;
    float: left;
  }
  .user-repeat {
    width: 50%;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid $light-grey;
  }
  .loading {
    padding: 10rem 20rem;
    width: 10rem;
  }
}

.chosenUser {
  width: 40%;
  position: fixed;
  margin-top: 30px;
  right: 20px;
  top: 0;
  height: 50vh;
  overflow: scroll;

  p {
    margin: 0;
  }
}