.landing-page {
  background-image: url("../../images/asanoha-400px.png");
  min-height: 200vh; }
  .landing-page p {
    font-size: 2rem; }
  .landing-page button {
    background-color: #348AA7;
    color: #FBFBF2;
    border: none; }
  .landing-page button:hover {
    background: transparent;
    border: 2px dotted #348AA7; }
  .landing-page a:hover {
    cursor: pointer; }
  .landing-page .title {
    font-family: 'Syncopate', sans-serif;
    font-size: 10rem;
    color: #595358;
    text-align: center;
    padding-top: 25vh; }
  .landing-page .home-nav {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 30px;
    background-color: #348AA7;
    height: 60px; }
    .landing-page .home-nav .nav-tags {
      margin: auto;
      width: 50%;
      padding-right: 50%; }
    .landing-page .home-nav a {
      color: #595358;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 200;
      padding: 0 20px; }
    .landing-page .home-nav a:first-child {
      margin-left: 10%;
      border-right: 2px solid #595358; }

.all-users {
  height: 80vh;
  overflow: scroll;
  margin-left: 20px; }
  .all-users img {
    float: left;
    margin-left: 10px;
    width: 35%; }
  .all-users h2 {
    margin-left: 10px; }
  .all-users .single-user-info {
    margin-left: 20px;
    float: left; }
  .all-users .user-repeat {
    width: 50%;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #bdbdbd; }
  .all-users .loading {
    padding: 10rem 20rem;
    width: 7rem; }

.chosenUser {
  width: 40%;
  position: fixed;
  margin-top: 30px;
  right: 20px;
  top: 0;
  height: 50vh;
  overflow: scroll; }
  .chosenUser p {
    margin: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 50px; }

footer {
  position: absolute;
  color: #FBFBF2;
  font-size: 2rem;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #595358; }
  footer p {
    margin-bottom: 0;
    padding-left: 20px; }
